@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;515;600;700&display=swap");

.App {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: Fira Code;
}

.body {
  display: grid;
  grid-template-columns: 1fr 2.5fr 3fr;
}

.navbar {
  height: 60px;
  color: #1a2026;
  background-color: #ffd9cb;
  padding-left: 20px;
  padding-right: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  font-size: large;
}

.sidebar {
  height: 100vh;
  background-color: rgb(8, 8, 8);
  color: #ffd9cb;
  margin: 0;
  font-weight: 400;
  font-size: small;
  padding-left: 20px;
  padding-top: 20px;
}

.textInput {
  height: 100vh;
  background-color: #1a2026;
  color: white;
  padding-left: 20px;
  padding-top: 20px;
  border: 0;
}

.textPreview {
  height: 100vh;
  background-color: #283038;
  color: white;
  padding-left: 20px;
  padding-top: 10px;
}

button {
  width: 100px;
  height: 30px;
  color: white;
  background-color: #df8463;
  border-radius: 30px;
  border: 0;
  outline: none;
  font-family: Fira Code;
}

button:hover {
  background-color: #eb997c;
}

button:focus,
button:active {
  background-color: #e27958;
}

.textInput:active,
.textInput:focus {
  border: 0;
  outline: none;
}
